<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="AladingEntities" connectionString="metadata=res://*/AladingModel.csdl|res://*/AladingModel.ssdl|res://*/AladingModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=localhost;Initial Catalog=Alading;Persist Security Info=True;User ID=sa;Password=123456;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient"/>
  </connectionStrings>
  <system.serviceModel>
    <bindings>
      <customBinding>
        <binding name="WebHttpBinding_ExpressService">
          <textMessageEncoding maxReadPoolSize="64" maxWritePoolSize="16"
            messageVersion="Soap12" writeEncoding="utf-8">
            <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384"
              maxBytesPerRead="4096" maxNameTableCharCount="16384" />
          </textMessageEncoding>
        </binding>
      </customBinding>
    </bindings>
    <client>
      <endpoint binding="customBinding" bindingConfiguration="WebHttpBinding_ExpressService"
        contract="ExpressService.ExpressService" name="WebHttpBinding_ExpressService" />
    </client>
  </system.serviceModel>
</configuration>