<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="AladingWebEntities" connectionString="metadata=res://*/AladingWebModel.csdl|res://*/AladingWebModel.ssdl|res://*/AladingWebModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=MSTC;Initial Catalog=AladingWeb;Persist Security Info=True;User ID=sa;Password=123456;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>