<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="dataConfiguration" type="Microsoft.Practices.EnterpriseLibrary.Data.Configuration.DatabaseSettings, Microsoft.Practices.EnterpriseLibrary.Data, Version=4.1.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
    <section name="securityCryptographyConfiguration" type="Microsoft.Practices.EnterpriseLibrary.Security.Cryptography.Configuration.CryptographySettings, Microsoft.Practices.EnterpriseLibrary.Security.Cryptography, Version=4.1.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
    <section name="cachingConfiguration" type="Microsoft.Practices.EnterpriseLibrary.Caching.Configuration.CacheManagerSettings, Microsoft.Practices.EnterpriseLibrary.Caching, Version=4.1.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
    <section name="log4net" type="System.Configuration.IgnoreSectionHandler" />
  </configSections>
  <securityCryptographyConfiguration>
    <symmetricCryptoProviders>
      <add algorithmType="System.Security.Cryptography.TripleDESCryptoServiceProvider, mscorlib, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"
        protectedKeyFilename="3DES.key" protectedKeyProtectionScope="LocalMachine"
        type="Microsoft.Practices.EnterpriseLibrary.Security.Cryptography.SymmetricAlgorithmProvider, Microsoft.Practices.EnterpriseLibrary.Security.Cryptography, Version=4.1.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
        name="TripleDESCryptoServiceProvider" />
    </symmetricCryptoProviders>
  </securityCryptographyConfiguration>
  <cachingConfiguration defaultCacheManager="Cache Manager">
    <cacheManagers>
      <add expirationPollFrequencyInSeconds="60" maximumElementsInCacheBeforeScavenging="1000"
        numberToRemoveWhenScavenging="10" backingStoreName="Null Storage"
        type="Microsoft.Practices.EnterpriseLibrary.Caching.CacheManager, Microsoft.Practices.EnterpriseLibrary.Caching, Version=4.1.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
        name="Cache Manager" />
    </cacheManagers>
    <backingStores>
      <add encryptionProviderName="" type="Microsoft.Practices.EnterpriseLibrary.Caching.BackingStoreImplementations.NullBackingStore, Microsoft.Practices.EnterpriseLibrary.Caching, Version=4.1.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
        name="Null Storage" />
    </backingStores>
  </cachingConfiguration>
  <dataConfiguration />
  <appSettings>
    <add key="CurrentVersion" value="V2.0(20100415)" />
    <add key="VersionType" value="普通版"/>
    <add key="SystemName" value="阿拉丁—卖家综合解决方案" />
    <!--数据库类别配置，MySQL，SQLServer2005、SQLServer2005Express、SQLServer2008 Enterprise、SQLServer2008Express-->
    <add key="DataBaseType" value="SQLServer2008 Express" />
    <!--验证类别0表示数据库认证、1为操作系统认证-->
    <add key="ValidateType" value="0" />
    <!--MySQL数据库配置-->
    <add key="MySqlProviderName" value="MySql.Data.MySqlClient" />
    <add key="MySqlMetaDataName" value="res://*/MySqlAladingModel.csdl|res://*/MySqlAladingModel.ssdl|res://*/MySqlAladingModel.msl" />
    <add key="MySqlServerDataSource" value="localhost"/>
    <add key="MySqlServerInitialCatalog" value="Alading"/>
    <add key="MySqlServerUserID" value="root"/>
    <add key="MySqlServerPassword" value="root"/>
    <add key="MySqlServerPort" value="3309"/>
    <!--SQLServer2008数据库配置-->
    <add key="SqlServerProviderName" value="System.Data.SqlClient" />
    <add key="SqlServerMetaDataName" value="res://*/AladingModel.csdl|res://*/AladingModel.ssdl|res://*/AladingModel.msl" />
    <add key="SqlServerDataSource" value="MSTC"/>
    <add key="SqlServerInitialCatalog" value="Alading"/>
    <add key="SqlServerUserID" value="sa"/>
    <add key="SqlServerPassword" value="123456"/>
    <add key="SqlServerPort" value="1433"/>
    <!--自动处理的时间间隔-->
    <add key="TimerListInterval" value="600000" />
    <add key="TimerRecommendInterval" value="600000" />
    <add key="TimerGetOrder" value="600000" />
    <!--其它配置-->
    <add key="StockItemPageSize" value="10" />
  </appSettings>
  <log4net>
    <appender name="LogFileAppender" type="log4net.Appender.FileAppender">
      <file type="log4net.Util.PatternString" value="%Logs\%date{yyyMMdd}\log.txt" />
      <sppendToFile value="true" />
      <layout type="log4net.Layout.PatternLayout">
        <param name="ConversionPattern" value="日期：%d|线程ID：%t|优先级别：%p|当前对象：%c|文件名：%F 行号%L|错误信息：%m%n%n" />
      </layout>
    </appender>
    <appender name="SmtpAppender" type="log4net.Appender.SmtpAppender">
      <authentication value="Basic" />
      <to value="XXXX@163.com" />
      <from value="XXX@163.com" />
      <username value="XXX" />
      <password value="XXX" />
      <subject value="Alading Error Report" />
      <smtpHost value="smtp.163.com" />
      <bufferSize value="0" />
      <lossy value="true" />
      <evaluator type="log4net.Core.LevelEvaluator">
        <threshold value="WARN" />
      </evaluator>
      <layout type="log4net.Layout.PatternLayout">
        <param name="ConversionPattern" value="日期：%d|线程ID：%t|优先级别：%p|当前对象：%c|文件名：%F 行号%L|错误信息：%m%n%n" />
      </layout>
      <filter type="log4net.Filter.LevelRangeFilter">
        <param name="LevelMin" value="Fatal" />
        <param name="LevelMax" value="Fatal" />
      </filter>
    </appender>
    <root>
      <appender-ref ref="LogFileAppender" />
    </root>
    <logger name="AladingLog">
      <level value="All" />
      <appender-ref ref="RollingLogFileAppender" />
    </logger>
  </log4net>
  <system.data>
    <DbProviderFactories>
      <remove invariant="MySql.Data.MySqlClient" />
      <add name="MySQL Data Provider" invariant="MySql.Data.MySqlClient" description=".Net Framework Data Provider for MySQL" type="MySql.Data.MySqlClient.MySqlClientFactory, MySql.Data, Version=6.2.1.0, Culture=neutral, PublicKeyToken=c5687fc88969c44d" />
    </DbProviderFactories>
  </system.data>
  <!--缓存配置-->
</configuration>