<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="AladingEntities" connectionString="metadata=res://*/AladingModel.csdl|res://*/AladingModel.ssdl|res://*/AladingModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=MSTC;Initial Catalog=Alading;Persist Security Info=True;User ID=sunny;Password=123456;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>